.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log
crash.*.log
*.zip
*.tar.gz
*.key
*.crt
*.private.key
*.token
*.terraform.lock.hcl
services/artifactory/config/security/
services/artifactory/config/logrotate/
services/artifactory/config/access/