project_name = "devops"
timezone     = "Atlantic/Canary"

# GitLab
gitlab_external_url = "http://gitlab:8929"
gitlab_ssh_port     = 2222

# Jenkins
jenkins_version        = "2.568.1"
jenkins_admin_user     = "admin"
jenkins_admin_password = "Cambia-Esta-Password-Segura-2026!"
jenkins_public_url     = "http://jenkins:8080/"
jenkins_admin_email    = "admin@example.com"

# Artifactory
artifactory_public_url = "http://artifactory:8082/"
